body{
background:#0b1120;
color:white;
font-family:sans-serif;
text-align:center;
}

header{
padding:40px;
}

section{
margin:40px;
}

a{
display:inline-block;
padding:14px;
background:#2563eb;
color:white;
text-decoration:none;
}
